/*########## GLOBAL ##############*/
/*
body {
  background: rgb(223, 223, 223);
   background-image: url(etc.jpg);
  background-repeat: no-repeat;
  background-position: 100% 10%;
  background-position: center center;
  background-size: cover; /*cobre a tela toda
  background-attachment: fixed;imagem de fundo não se move*
 }
  */

body {
  background: #cfcccc;
  font-family: 'Raleway', sans-serif;
  margin:0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.foto {
  width: 150px;
  height: 150px;
  /*shorthand*/
  border: 2px solid #ffffff;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0px 0px 10px #959595;
  width: 200px;
  margin: 30px 30px 0 30px;

  /*
  border-width: 15px;
  border-style: solid;
  border-color: red;
  
  */
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: -1px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
}

h2 {
  margin-top: 0;
  font-style: italic;
  color: rgb(73, 73, 73);
  font-weight: 100;
  letter-spacing: -1px;
}

h4 {
  margin-bottom: 5px;
}

h5 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 100;
  font-style: italic;
}

.caixa {
  background-color: black;
  width: 100px;
  height: 100px;
  border: 5px solid red;
  border-radius: 8px;
  margin: 0 auto;
  /*centralizar*/
}

p {
  line-height: 25px;
  margin-top: 0;
}

.social-icons {
  width: 35px;
}

.social-links {
  text-decoration: none;
  margin: 0 15px;
}

.jobs-list {
  list-style: none;
  padding-left: 20px;
}

.footer{
  margin-top: 40px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}